<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="bb17a049-dad4-48b0-bcd7-ebdd16c43125" Publisher="CN=feng" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WindowsRTDemo</DisplayName>
    <PublisherDisplayName>feng</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WindowsRTDemo.App">
      <VisualElements DisplayName="外部商户应用Demo" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="WindowsRTDemo" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="ali-1367898968" />
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>